.bg-img-light {
  background-image: url("./assets/img/vintage-g0ecad5e69_1920.jpg");
}
.bg-img-dark {
  background-image: url("./assets/img/bgdark.jpg");
  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
:root {
  --clr-bg-dark: #1f2937; /* gray-800 */
  --clr-bg-light: #e2e8f0; /* slate-200 */

  --clr-text-dark: #e2e8f0; /* slate-200 */
  --clr-text-light: #1e293b; /* slate-800 */
}

.dark {
  background-color: var(--clr-bg-dark);
  color: var(--clr-text-dark);
}

.light {
  background-color: var(--clr-bg-light);
  color: var(--clr-text-light);
}

@tailwind base;
@tailwind components;
@tailwind utilities;
